.homepage #content{
    margin-top: 0;
}
.homepage #menu{
    background: transparent;
}
.homepage #menu .menu_link{
     color: white;
 }

.homepage #menu .menu_logo{
   display: none;
}

.first-section{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

/*mobile*/
@media (max-width: 767px) {
    .homepage #content{
        margin-top: 0;
    }
}