body{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
#menu{
 padding-top: 40px;
}
#menu .menu_logo{
    float:left;
    margin-top: 18px;
}
#menu .menu_link{
    display: inline-block;
    font-size: 40px;
    color: black;
    float: right;
}

#myModal .modal-content{
    background-color: transparent;
    border: none;
    padding-top: 40px;
    box-shadow: none;
}

#myModal .modal-backdrop.in{
    opacity: 1;
}

#myModal .modal-header{
    border: none;
}

#myModal .modal-header{
    border: none;
    padding-top: 0;
    height: 60px;
}

#myModal  .close-icon{
    font-size: 60px;
    margin-right: -20px;
    color: white;
}

#myModal  .modal-header .close{
    opacity: 1;
}

#myModal .modal-body{
    border: none;
    padding: 70px 0 0 140px;
}

#myModal .modal-body ul{
    list-style: none;
    padding-left: 0;
}

#myModal .modal-body li{
   margin-bottom: 50px;
}

#myModal .modal-body .menu-list-first{
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

#myModal .modal-body a{
    color: white;
    text-decoration: none;
}

#myModal .modal-body .li-left-icon{
    margin-right: 60px;
}

#myModal .dropdown{

}

#myModal .dropdown-listings{
    background-color: transparent;
    padding-left: 85px;
    padding-top: 12px;
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: capitalize;
    position: relative;
    float: none;
}
#myModal  .dropdown-menu.open{
    display: block;
}

#myModal .dropdown-listings .li-left-small-icon{
    margin: 0 36px 0 27px;
    font-weight: bold;
    color: white;
}

.vox-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 106px;
    text-transform: uppercase;
    margin: 42px 0 76px 0;
}

.vox-bk{
    background: url(/image/bk.jpg) 50% 0 no-repeat;
    height: 523px;
    background-size: cover;
}

.mobile-only{
    display: none;
}

/*mobile*/
@media (max-width: 767px) {
    #menu{
        padding-top: 20px;
    }
    #myModal .modal-content{
        padding-top: 20px;
    }
    #myModal .modal-body{
        padding: 30px 0 0 0;
    }
    #myModal .modal-body li{
        margin-bottom: 30px;
    }
    #myModal .modal-body .li-left-icon{
        margin-right: 1.5em;
    }
    #myModal .dropdown-listings .li-left-small-icon{
        margin: 0 1.5em 0 1em;
    }
    .vox-title{
        font-size: 23px;
        line-height: 53px;
        margin: 0;
    }
    .mobile-only{
        display: block;
    }

}