{% extends "master.html.twig" %}

{% block meta %}
    {% autoescape false %}
        {{ sulu_seo(extension.seo, content, urls, shadowBaseLocale) }}
    {% endautoescape %}
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div property="img">
        {% if content.img and content.img['0'] %}
            {% set img =content.img['0'].url %}
        {% else %}
            {% set img ="/image/coming-soon.jpg" %}
        {% endif %}
        {#<img src="{{ img }}" width="100%">#}
    </div>
{% endblock %}
